<%- include('partials/header'); -%>
<div class="title2"><%=cityName%></div>
<div class="container">
    <div class="output"><%=tempNum%> Celsius</div>
    <img src="<%=imageURL%>"> 
</div>
<a href="/"><div class="btn">Again</div></a> 


<%- include('partials/footer'); -%>