<%- include('partials/header'); -%>
<div class="container">
    <h3><%=cityName%></h3>
    <div class="row">
        <img class="icon"src="<%=tempIcon%>"> 
        <h4> <%=tempNum%> <i class="uil uil-celsius"></i></h4>
    </div>
    <div><%= description %>. Feels Like <%= feelsLike %><i class="uil uil-celsius"></i>.</div>
    <a href="/">Again</a> 
</div>


<%- include('partials/footer'); -%>